@charset "utf-8";

/*Estilo para telas*/

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(160, 160, 160);
}

header > h1{
    text-align: center;
}

menu ul{
    list-style-type: none;
    background-color: gray;
}

menu li{
    background-color: rgb(77, 75, 75);
    display: inline-block;
    padding: 10px;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}